<div class="row">
  <div class="col-md-5 offset-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Nuevo Usuario</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="">Nombres</label>
          <input type="text" name="nombres" ngModel="nombres" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Apellidos</label>
          <input type="text" name="apellidos" ngModel="apellidos" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Cedula</label>
          <input type="number" min="999999" max="99999999" name="apellidos" ngModel="apellidos" class="form-control" maxlength="8">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" name="email" ngModel="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Telefono</label>
          <input type="text" name="telefono" ngModel="telefono" class="form-control">
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary btn-block">Guardar</button>
      </div>
    </div>
  </div>
</div>