<div class="row">
  <div class="col-md-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Editar Usuario ID: <strong>{{ user.id }}</strong></h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label for="">Nombres</label>
            <input type="text" name="nombres" [(ngModel)]="user.nombres" class="form-control">
          </div>
          <div class="col-md-4">
            <label for="">Apellidos</label>
            <input type="text" name="apellidos" [(ngModel)]="user.apellidos" class="form-control">
          </div>
          <div class="col-md-4">
            <label for="">Cedula</label>
            <input type="number" min="999999" max="99999999" name="apellidos" [(ngModel)]="user.cedula" class="form-control" maxlength="8">
          </div>
        </div>
        <div class="row" style="margin-top:10px">
          <div class="col-md-6">
            <label for="">Email</label>
            <input type="email" name="email" [(ngModel)]="user.email" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="">Telefono</label>
            <input type="text" name="telefono" [(ngModel)]="user.telefono" class="form-control">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button (click)="edit()" class="btn btn-primary float-right" style="margin-left: 5px;">Modificar</button>
        <button [routerLink]="['/users/list']" class="btn btn-warning float-left">Cancelar</button>
      </div>
    </div>
    <div *ngIf="msj"style="margin-top: 10px">
      <div class="alert alert-success">Usuario modificado exitosamente</div>
    </div>
  </div>
</div>